<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Component Directives
      </mat-panel-title>
      <mat-panel-description> 
        Component Directives are used as 
      </mat-panel-description>
    </mat-expansion-panel-header>  
     <div class="accordion-content">
     
     </div>
    <mat-action-row>
      <!-- <button mat-button color="warn" (click)="prevStep()" *ngIf="!isFirst || isLast">Previous</button> -->
      <button mat-button color="primary" (click)="nextStep()">Next</button> 
      <!-- <button mat-button color="primary" (click)="nextStep()" *ngIf="isLast">End</button>  -->
    </mat-action-row>
  </mat-expansion-panel> 
</mat-accordion>  
 